.main{
    width: 57px;
    margin:auto;
    height: 125vh;
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border:1px solid silver;
    /* border: 2px solid greenyellow; */
}
.icons1{
    font-size: 30px;
    padding-top: 7px;
    margin:auto;
}
.iconsbox div{
      height: 50px;
      width: 50px;
      
      
     
     
      /* border:1px solid red; */
     
      padding: 5px;

      padding-left: 10px;
      
}
.iconsbox div:hover{
    cursor: pointer;
    background-color: #EDF2F7;
    -webkit-transition: background 1s; /* For Safari 3.0 to 6.0 */
    transition: background 1s; /* For modern browsers */
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;      
}


.navlink{
  
}
